{% extends "base.html" %}
{% block title %}42 Coffee Cups Test Assignment{% endblock %}

{% block content_title %}<h2>42 Coffee Cups Test Assignment</h2>{% endblock %}

{% block content %}
<div id="left">
<p><span class="label">Name:</span> {{ contact.name }}</p>
<p><span class="label">Last name:</span> {{ contact.lastname }}</p>
<p><span class="label">Date of birth:</span> {{ contact.dateofbirth }}</p>
<p><span class="label">Bio:</span> {{ contact.bio|escape|linebreaks }}</p>
</div>

<div id="right">
<p><span class="label">Contacts:</span> {{ contact.contacts }}</p>
<p><span class="label">Email:</span> {{ contact.email }}</p>
<p><span class="label">Jabber:</span> {{ contact.jabber }}</p>
<p><span class="label">Skype:</span> {{ contact.skype }}</p>
<p><span class="label">Other contacts:</span> {{ contact.othercontacts|escape|linebreaks }}</p>
</div>

<div class="clear"></div>

<hr/>

<a href="/requests/">requests</a>

{% endblock %}
