{% extends "base.html" %}
{% block title %}42 Coffee Cups Test Assignment{% endblock %}

{% block content_title %}<h2>42 Coffee Cups Test Assignment</h2>{% endblock %}

{% block content %}
<div id="left">
<p><span>Name:</span> {{ contact.name }}</p>
<p><span>Last name:</span> {{ contact.lastname }}</p>
<p><span>Date of birth:</span> {{ contact.dateofbirth }}</p>
<p><span>Bio:</span> {{ contact.bio|escape|linebreaks }}</p>
</div>

<div id="right">
<p><span>Contacts:</span> {{ contact.contacts }}</p>
<p><span>Email:</span> {{ contact.email }}</p>
<p><span>Jabber:</span> {{ contact.jabber }}</p>
<p><span>Skype:</span> {{ contact.skype }}</p>
<p><span>Other contacts:</span> {{ contact.othercontacts|escape|linebreaks }}</p>
</div>

<div class="clear"></div>

<hr/>

<a href="/requests/">requests</a>

{% endblock %}
