body {
  font-family: Georgia, serif;
  font-size: 0.9em;
}

div#left {
  float:left;
  margin-right: 1em;
}

div#right {
  float:left;
}

.clear {
  clear:both;
}

span.label, div.content p span {
  font-weight:bold;
}
