body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

div#left {
  float:left;
  margin-right: 10px;
}

div#right {
  float:left;
}

.clear {
  clear:both;
}

span.label {
  font-weight:bold;
}
